@model NoMoreYoyo.Models.User

<h1>My Profile</h1>

<h3>@Html.LabelFor(m => m.UserName)</h3>
<h2>@Html.LabelFor(m => m.EmailAddress)</h2>

<input type="button" value="Change password" name = "btnChangePwd" />
<input type="button" value="Delete account" name = "btnDeleteAccount" />